/* GLOBAL STYLES
-------------------------------------------------- */

body {
  padding-bottom: 40px;
  width: 100%;
  height: 100%;
}
html {
    width: 100%;
    height: 100%;
}

h1,h2,h3,h4,label  {
  font-family: 'Raleway', sans-serif;
}

.btn {
  font-family: 'Raleway', sans-serif;
}

p, input {
  font-family: 'Roboto', sans-serif;
}

.navbar {
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}

/* SCROL TO TOP
-------------------------------------------------- */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar {
  background-color: rgba(255,255,255,0.4);
  font-family: 'Raleway', sans-serif;
  font-size: 12pt;
  font-weight: 600;
}

.navbar .navbar-toggle {
  border-color: #000;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #CC0000;
}
.navbar .navbar-nav > li > a {
    color: #000;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #CC0000;
    background-color: transparent;

}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: #CC0000;
  background-color: transparent;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 10px;
  width: auto;
}

/* CUSTOMIZE THE FOOTER
-------------------------------------------------- */
footer {
  padding-top: 8px;
  color: rgba(255,255,255, 0.3);
  background-color: #222;
}

.footer-icons, .footer-icons>a {
  color: rgba(255,255,255, 0.8);
  display: inline;
}


/* SECTIONS: VERY IMPORTANT!!!!!
-------------------------------------------------- */

.intro-section {
    height: 75%;
    padding-top: 160px;
    color: #fff;
    text-align: center;
    background: url("../images/desk.jpg");
    background-size: cover;
    background-position: center;
}

.about-section {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  background: #fff;
}

/*.services-section {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    background: #fff;
}*/

.contact-section {
    padding-top: 10px;
    padding-bottom: 20px;
    background: #A9A9A9;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 767px) {
  .navbar {
      padding: 10px 0;
  }

  .top-nav-collapse {
      padding: 0;
  }

  .navbar .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #CC0000;
  }
  .navbar-brand>img {
    height: 100%;
    padding: 7px 15px;
    width: auto;
  }

  section#contact .form-group {
    margin-bottom: 25px;
  }
  section#contact .form-group input,
  section#contact .form-group textarea {
    padding: 15px;
  }
  section#contact .form-group input.form-control {
    height: auto;
  }
  section#contact .form-group textarea.form-control {
    height: 208px;
  }

  .contact-section > form {
    padding-top: 5em;
  }

}
